mixin input-rating(className, name, maxStars = 5)
  .input-rating(class=className)
    .input-rating__label Ваша оценка
    .input-rating__wrapper
      - for (let star = maxStars; star >= 1; star--)
        input.input-rating__input(
          type="radio"
          id=`${name}-${star}`
          name=name
          value=star
					checked=star === maxStars
        )
        label.input-rating__star(for=`${name}-${star}`)
          svg.input-rating__icon(aria-hidden="true")
            use(xlink:href="#icon-star")
